apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: models-storage
  namespace: mlops-platform
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: efs-sc
  resources:
    requests:
      storage: 500Gi